@import "tailwindcss";


@theme {
  --font-sans: var(--font-iran-sans);

  --color-white-01: #fff;
  --color-white-02: #fcfcfc;

  --color-gray-50: #F9F9F9;
  --color-gray-100: #ececec;
  --color-gray-200: #E3E3E3;
  --color-gray-700: #8A8A8A;
  --color-gray-900: #515151;

  --color-black-200: #a0a0a0;
  --color-black-500: #303030;
  --color-black-900: #141414;

  --color-servicePurple: #7A3DE2;
}
